@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

/* font-family: ', cursive; */

:root {
  --light-grey-1 : hsl(0, 0%, 92%);
  --light-grey-2 : hsl(0, 0%, 96%);
  --white : hsl(0, 0%, 100%);
  --button-gradient : linear-gradient(
    0deg,
    hsl(267, 66%, 60%), 
    hsl(317, 100%, 74%)
    );
  --padding-section : 15% 5%;
  --purple : hsl(267, 66%, 60%);
  --footer-background : hsl(0, 0%, 21%);
}

body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

h1,
h2 {
  margin :0;
}

header h1 {
  font-size: 25px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

section {
   text-align: center;
}

section p {
  padding-left: 17px;
}
    
header {
  padding : 8% 6% 10%;
  text-align: center;
  background-color: hsl(0, 0%, 96%);
}    

header p {
  /* font-weight: 100; */
}
    
header button {
  padding : 15px 20px;
  border-radius: 25px;
  border : none;
  color : var(--white);
  background: var(--button-gradient);
}

main section {
  padding: var(--padding-section);
}

main h2 {
  padding-bottom: 30px;
}

main ul {
  display: flex;
  flex-direction: column; 
  gap : 20px;
}

main button {
  padding : 25px;
  width : 95%;
  border : none;
  border-radius: 15px;
  background-color: var(--light-grey-2);
}

article {
  padding: var(--padding-section);
  background-color: var(--light-grey-1);
  box-sizing: border-box;
}

article li {
  border-radius: 20px;
  background-color: var(--white);
}
    
article figure {
  margin: 0;
  width: 100%;
}

article figcaption {
  padding: 0 15px 20px;
}

article img {
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

footer {
  padding: 20px;
  color : var(--white);
  background-color: hsl(0, 0%, 21%);
}

footer h2 {
  padding-bottom: 17px;
  font-family: 'Shrikhand';
  font-size: 20px;
  color : var(--white);
}
    
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey-1);
}

.logo {
  padding-top: 20px;
  padding-bottom: 8px;
  height: 30px;
}

  