:root {
  --light-grey-1 : hsl(0, 0%, 92%);
  --light-grey-2 : hsl(0, 0%, 96%);
  --white : hsl(0, 0%, 100%);
  --button-gradient : linear-gradient(
    0deg,
    hsl(267, 66%, 60%), 
    hsl(317, 100%, 74%)
    );
  --padding-section : 15% 5%;
  --purple : hsl(267, 66%, 60%);
  --footer-background : hsl(0, 0%, 21%);
  --green : hsl(165, 56%, 75%); 
}

/*silver, grey, space*/

body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin :0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  background-color: hsl(0, 0%, 96%);
}  

header h1 {
  padding : 15px 0 8px 0;
  font-family: 'Shrikhand', cursive;
  background-color: var(--white);
  border-bottom: 3px solid hsla(0, 0%, 83%, 80%);
  /* box-shadow: 2px 2px 3px hsl(0, 0%, 83%); */
}

header form {
  padding: 15px 17px;
}

form input {
  padding-left: 10px;
  border: none;
  background-color: var(--light-grey-1);
}

header h2 {
  padding: 35px 80px 0 80px;
  font-size: 22px;
  font-weight: 700;
}

header p {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 300;
}
  
header button {
  margin-top: 15px;
  margin-bottom: 60px;
  padding : 15px 20px;
  border-radius: 25px;
  border : none;
  color : var(--white);
  background: var(--button-gradient);
}

main section {
  padding: var(--padding-section);
}

main h3 {
  padding-bottom: 30px;
  text-align: left;
  font-size: 23px;
}

main ul {
  display: flex;
  flex-direction: column; 
  gap : 20px;
}

main li {
  margin-left: 12px;
  padding : 25px 25px 22px 25px;
  border : none;
  border-radius: 20px;
  background-color: var(--light-grey-2);
}

main section div {
  display: flex;
  gap: 25px;
  margin-left: -36px;
}


article {
  padding: var(--padding-section);
  background-color: var(--light-grey-1);
  box-sizing: border-box;
}

article li {
  display: flex;
  padding : 0;
  border-radius: 20px;
  background-color: var(--white);
}

article a {
  width: 100%;
}

article figure {
  position: relative;
  margin: 0;
  width: 100%;
}

article figcaption {
  display: flex;
  flex-direction: column;
  padding: 0 25px 25px 20px;
}

article img {
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  z-index: 1;
}

article h4 {
  padding-top: 15px;
  font-size: 17px;
  /* color : hsl(0, 0, 0); */
}

article li a:visited {
  color: black;
}

article p {
  padding-top: 4px;
  font-weight: 300;
}

footer {
  padding: 20px;
  color : var(--white);
  background-color: hsl(0, 0%, 21%);
}

footer h3 {
  padding-bottom: 17px;
  font-family: 'Shrikhand';
  font-size: 18px;
  color : var(--white);
}

footer li {
  padding-bottom: 6px ;
}

main section .button-numbers {
  padding : 3px 8px ;
  border-radius: 25px;
  color : var(--white) ;
  background-color: var(--purple);
}

main section .fa-solid {
  color : hsl(0, 0%, 49%);
  font-size: 18px;
}

footer .fa-solid {
  font-size: 12px;
  padding-right: 10px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey-1);
}

.logo {
  padding-top: 20px;
  padding-bottom: 8px;
  height: 30px;
}

.fa-heart {
  margin-top: -30px;
  align-self: flex-end;
  font-size: 20px;
}

/*fa heaert onclick color purple*/

.nouveau {
  position: absolute;
  margin-top: 3%;
  margin-left: 75%;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  color: hsl(165, 80%, 32%);
  background-color: var(--green);
  z-index: 4;
}

/*----------Pages des Menus----------*/

.page {
  margin: 0;
  padding: 0;
  background-color: var(--light-grey-1);
}

.page section {
  padding : 20px 10px;
  box-sizing: border-box ;
}

.page li {
  margin : 0;
}

.menu-logo {
  padding-top: 20px;
  padding-bottom: 8px ;
  height: 30px;
}

.page article {
  padding : 0;
}

.top-menu img {
  width: 100%;
  height: 300px;
  border-radius: 0%;
  object-fit: cover ;
}

.top-menu {
  background-color : var(--light-grey-1); 
}

.top-menu div{
  position : relative;
  display: flex;
  background-color: var(--light-grey-1) ;
}

.top-menu div h1 {
  margin-top: -60px;
  padding-top: 40px;
  padding-left: 15px;
  width: 100%;
  text-align: left;
  font-size: 30px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-color : var(--light-grey-1);
  background-color: var(--light-grey-1);
}

.fav-page {
  position: absolute;
  font-size: 30px;
  top : 10px;
  right : 30px;
}

.menu {
  position: relative;
  display: block ;
  padding: 15px;
 
}

.page section h2 {
  font-variant-caps: all-petite-caps;
  font-weight: 200;
  font-size: 20px;
}

.page section h3 {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}

.name-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin : 0; 
}
 
.order-button {
  margin-top: 15px;
  margin-bottom: 35px;
  padding: 15px 45px;
  border-radius: 25px;
  border: none;
  color: var(--white);
  background: var(--button-gradient);
}

.menu p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}

.price {
  position: absolute;
  bottom: 15px;
  right: 14px;
  z-index: 2;
  transition: 0.5s ease;
}

.menu-selection {
  position: absolute;
  top: 0px;
  right: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 80px;
  height: 72px;
  background-color: var(--green);
  transform: translateX(120%);
  transition: 0.5s ease;
}

.menu .fa-circle-check {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 30px;
  color: var(--white);
  transform: translateX(200%);
  transition: 0.5s ease;
}

.menu:hover .fa-circle-check {
  animation: rotate-full 0.5s ease;
}

@keyframes rotate-full {
  0% {
    transform: translateX(0%) rotate(0deg);
  }
  100% {
    transform: translateX(0%) rotate(360deg);
  }
}

.menu:hover .menu-selection,
.menu:hover .fa-circle-check {
  transform: translateX(0%);
}

.menu:hover .price {
  transform: translateX(-270%);
}
